@import url('http://fonts.googleapis.com/css?family=Engelbert');
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(http://fonts.googleapis.com/css?family=Alice);
	html{
	}
body{

}
	
p, h6,h5,h4,h3,h2,h1{
	font-family: Helvetica, Arial, sans-serif;
	}
h1, h2{
	color: #333;
	font-family: "Source Sans Pro", Helvetica, Arial;
	}
h3,h4{
	color: #444;
	}
h1{
	font-size: 16pt;
	font-weight: 900;
	}
h2{
	font-size: 14pt;
	font-weight: 800;
		
	}
h3{
	fontsize: 14pt;
	font-weight: 400;
	}
h4{
	fontsize:12 pt;
	font-weight: 300;
	}
p{
	color:#666;
	font-size: 10pt;
	font-weight: 300;
	}
.wrapper{
	width: 100%;
	padding: 0;
	margin-left: 2.5cm;
	margin-right: 3cm;
	}
header, nav, section, footer{
	width: 80%;
	padding: 30px, 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	border-radius: 10px;
	box-shadow: 2px 2px 4px;
	}
header{
	
	}
nav{
	display: none;
}
nav ul{
	list-style-type: none;
	margin-left: auto;
	margin-right: auto;
	padding:0;
	}
nav a{
	text-decoration: none;
	text-underline: none;
	}
nav li{
	display: inline;
	border: solid 1px;
	border-radius: 3px;
	box-shadow: 2px 2px 3px;
	padding: 0 10px;
	}
section{
	page-break-before:always;
	}
code, pre {
	font-family: 
	}
img{
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	border: 1px solid;
	border-radius: 5px;
	
	}