@import url('http://fonts.googleapis.com/css?family=Engelbert');
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(http://fonts.googleapis.com/css?family=Alice);
	html{
	}
body{
	background-image: url('bg.png');
	background-color: #66f;
	font-family: Engelbert, Helvetica, Arial, console;
}
	
p, h6,h5,h4,h3,h2,h1{
	font-family: Engelbert, Helvetica, Arial;
	}
h1, h2{
	color: #390;
	font-family: "Source Sans Pro", Helvetica, Arial;
	}
h3,h4{
	color: #360;
	}
h1{
	font-size: larger;
	font-weight: 900;
	}
h2{
	font-size: large;
	font-weight: 800;
		
	}
h3{
	fontsize:large;
	font-weight: 400;
	}
h4{
	fontsize:large;
	font-weight: 300;
	}
p{
	color:#666;
	font-size: normal;
	font-weight: 300;
	}
.wrapper{
	width: 80%;
	padding: 0 10px 20px;
	margin-left: auto;
	margin-right: auto;
	background-color: #ccc;
	border-radius: 10px;
	}
header, nav, section, footer{
	width: 80%;
	padding: 30px, 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	background: linear-gradient(#ef9 #c6c696);
	border-radius: 10px;
	box-shadow: 2px 2px 4px;
	}
header{
	background: linear-gradient(#6ee, #6cc);
	}
nav{
	background: linear-gradient(#ccc,#ddd)	
}
nav ul{
	list-style-type: none;
	margin-left: auto;
	margin-right: auto;
	padding:0;
	}
nav a{
	text-decoration: none;
	text-underline: none;
	color: #666;
	}
nav li{
	display: inline;
	border: solid 1px;
	border-radius: 3px;
	background: linear-gradient(#eee,#ccc);
	box-shadow: 2px 2px 3px;
	padding: 0 10px;
	}
section{
	background: linear-gradient(#eee, #ccc);
	}
code, pre {
	font-family: 
	}
img{
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	border: 1px solid;
	border-radius: 5px;
	background-color: #fff;
	
	}